Pillow~=10.0.1
h11~=0.14.0
pip~=22.3.1
attrs~=23.1.0
wheel~=0.38.4
Jinja2~=3.1.2
toolz~=0.12.0
pytz~=2023.3.post1
requests~=2.31.0
PyYAML~=6.0.1
idna~=3.4
multidict~=6.0.4
anyio~=3.7.1
sniffio~=1.3.0
click~=8.1.7
httpcore~=0.18.0
certifi~=2023.7.22
numpy~=1.26.0
setuptools~=65.5.1
scipy~=1.11.3
regex~=2023.8.8
matplotlib~=3.8.0
jsonschema~=4.19.1
pandas~=2.1.1
altair~=5.1.1
packaging~=23.1
fsspec~=2023.9.2
aiohttp~=3.8.5
yarl~=1.9.2
gradio~=3.44.4
fastapi~=0.103.1
httpx~=0.25.0
MarkupSafe~=2.1.3
orjson~=3.9.7
starlette~=0.27.0
aiofiles~=23.2.1
ffmpy~=0.3.1
filelock~=3.12.4
uvicorn~=0.23.2
pydantic~=2.4.0
pydub~=0.25.1
joblib~=1.3.2
openai~=0.28.0
plotly~=5.17.0
scikit-learn~=1.3.1
tenacity~=8.2.3
python-dateutil~=2.8.2
aiosignal~=1.3.1
frozenlist~=1.4.0
python-multipart~=0.0.6
websockets~=11.0.3
threadpoolctl~=3.2.0
six~=1.16.0
urllib3~=2.0.5
tiktoken~=0.5.1
contourpy~=1.1.1
fonttools~=4.42.1
pyparsing~=3.1.1
referencing~=0.30.2
cycler~=0.11.0
kiwisolver~=1.4.5
tqdm~=4.66.1
